/* Page2 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* overflow: hidden; */
}

.nav {
  overflow: hidden;
  width: 100vw;
  height: 20vh;
  background-color: rgb(157, 63, 245);
  position: relative;
}

.main_content {
  display: flex;
  height: 80vh;
  width: 100vw;
  /* background-color: red; */
}

#pg2_title {
  position: relative;
  color: white;
  font-weight: 900;
  font-size: larger;
  font-family: "Bebas Neue", cursive;
  top: 5vh;
  left: 3vw;
}

#data_app {
  position: relative;
  width: 70vw;
  border: 1px solid black;
  border-radius: 9px;
  height: 70vh;
  text-align: center;
  inset: 5vh auto auto 11vw;
  /* margin: auto; */
   
  color: black;
  opacity: 0.8;
  background-color: rgb(238, 238, 238);
}


#appname{
  width: fit-content;
  margin-left: 3vw;
  margin-top: 4vh;
  height: fit-content;
  font-weight: 700;
  font-family: "Lato", sans-serif;
  padding: 4px 5px;
}

.arrow{
  background-color: white;
  border: none;
  position: absolute;
  top: 147px;
  left: 6px;
}


 